<launch>

    <node pkg="tf2_ros" type="static_transform_publisher" name="base2laser" 
            args="0 0 0 0 0 0 1 /red/base_link /red/laser_link" />

    <node pkg="tf" type="static_transform_publisher" name="odom2base" 
            args="0 0 0 0 0 0 1 /odom /world 1"/>

    <node pkg="depthimage_to_laserscan" type="depthimage_to_laserscan" name="depthimage_to_laserscan" args="standalone depthimage_to_laserscan/DepthImageToLaserScanNodelet">

        <remap from="image" to="/red/camera/depth/image_raw"/> 

        <remap from="camera_info" to="/red/camera/depth/camera_info"/>

        <remap from="scan" to="/scan"/>

        <param name="scan_height" type="int" value="10"/>

        <param name="output_frame_id" type="str" value="/red/laser_link"/>

    </node>

</launch>
